h1= title
p Welcome to #{title}

img(src="./images/gent8.jpeg")

p
| Zeno Consulting, Inc. is a software and technology consulting 
| firm started by Davis Ford in 2005.  
p
| I received my undergraduate degree from 
a(href="http://www.msu.edu") Michigan State University 
| and my Master of Science in Computer Science from 
a(href="http://www.wayne.edu") Wayne State University
|.  
p
| I have 17+ years of experience building complex software systems with
| domain expertise in telecom, computer hardware, networking, automotive,
| telematics, and geographic information systems.  My career spans small
| embedded system development to large enterprise solutions.  I can build 
| the whole stack from the scalable back-end to the user interface.

p As a consultant, some of my clients include
ul
  li 
    a(href="http://tomtom.com") Tom Tom (formerly Tele Atlas),  
  li 
    a(href="http://www.gm.com") General Motors 
  li 
    a(href="http://www.axeda.com") Axeda, Inc.
  li 
    a(href="http://www.panasonic.com") Panasonic

p
| I'm a true "generalizing specialist" with both breadth and depth.  I am 
| well-read technically, and I apply that knowledge to solve problems
| in unique, uncharacteristic ways that provide a technical advantage.
| I am not a paper architect.  I can code well in many languages and
| lead teams.

h3 Contact
p
  a(href="http://www.linkedin.com/in/davisford")
    img(src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png", width="160", height="33", border="0", alt="View Davis Ford's Profile on LinkedIn")
p
  a(href="https://twitter.com/zenocon", class="twitter-follow-button", data-show-count="false", data-size="large") Follow @zenocon
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


p 
  a(href="mailto:davisford@zenoconsulting.biz") davisford@zenoconsulting.biz
p 
  object(type="application/x-shockwave-flash", data="https://clients4.google.com/voice/embed/webCallButton", width="230", height="85")
  param(name="movie", value="https://clients4.google.com/voice/embed/webCallButton")
  param(name="wmode", value="transparent")
  param(name="FlashVars", value="id=49ab9afdd74cbe562c3bcea965d8cb23d76d2388&style=0")



